name: PR Check

on:
    pull_request:
        branches:
            - main

jobs:
    test_action_build:
        name: Check Worker Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup PNPM
              uses: pnpm/action-setup@v3
              with:
                  run_install: true

            - name: Build Worker
              run: pnpm build
