name: PR Check

on:
    pull_request:
        branches:
            - main

jobs:
    test_action_build:
        name: Check Worker Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Cache PNPM Modules
              uses: actions/cache@v3
              with:
                  path: ~/.pnpm-store
                  key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
                  restore-keys: |
                      ${{ runner.os }}-pnpm-

            - name: Setup PNPM
              uses: pnpm/action-setup@v2.4.0
              with:
                  run_install: true

            - name: Build Worker
              run: pnpm build
