name: Publish Worker

on:
    push:
        branches:
            - main
        paths-ignore:
            - "**.md"
    workflow_dispatch:

jobs:
    publish_worker:
        runs-on: ubuntu-latest
        name: Deploy
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Setup PNPM
              uses: pnpm/action-setup@v3
              with:
                  run_install: true

            - name: Build Worker
              run: pnpm build

            - name: Publish to Cloudflare
              uses: cloudflare/wrangler-action@v3
              with:
                  apiToken: ${{ secrets.CF_API_TOKEN }}
